// Colors:

$primary: #FF7B47;
$secondary1: #0D5C63;
$secondary2: #17213C;
$text-color: #252B42;
$text-color2: #737373;
$light-text-color: #FFFFFF;
$dark-bg: #252B42;
$light-bg: #FFFFFF;
$hover: #2A7CC7;
$disabled: #8EC2F2;
$muted: #BDBDBD;
$success: #2DC071;
$alert: #E77C40;
$danger: #E74040;

// Gradient #D71489 #004788 linear
