.achievements {
   margin: 0 -0.9375rem -1.875rem;
   display: flex;
   flex-wrap: wrap;

   &__column {
      margin-bottom: 1.875rem;
      padding: 0 0.9375rem;
      flex: 0 1 25%;

      @media (max-width: 65.625rem) {
         flex: 0 1 50%;
      }

      @media (max-width: 29.9375em) {
         flex: 0 1 100%;
     }
   }

   &__item {
      height: 100%;
      padding: 1.875rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-weight: 700;
      background-color: $light-bg;

      & > *:not(:last-child) {
         margin-bottom: 0.625rem;
      }
   }

   &__icon {
      height: 48px;
      display: flex;
      align-items: flex-end;
   }

   &__title {
      font-size: 2.5rem;
      line-height: 1.425;
   }

   &__text {
      color: $text-color2;
      font-size: 1rem;
      line-height: 1.5;
   }
}

